@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700;900&display=swap');


*{
    font-family: 'Archivo', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


h1{
    font-size: 34px;
    font-weight: 700;
    line-height: 36px;
}
.img_container img{
        width: 100%;
}
.information{
    margin: 20px;
}
.information > *{
    margin-bottom: 14px;
}
.small_icon{
    width: 40px;
}

.last{
    margin-bottom: 34px;
}