---
import '../styles/global.css'


const {title, comments, liked, userName} = Astro.props

---

<div class="post_main_container">
    <div class="post_container">
        <div class="post_information_container flex justify-between">
            
            <div class="post_information">
            <a href="/userPage/">    
                <div class="user_information flex items-center gap-2 mb-2">
                    <div class="user_img">
                        <img class="small_picture" src="Pictures/ProfilePictures/AlguienRandomPFP.jpg" alt="">
                    </div>

                    <p class="user_name">AlguienRandomXD</p>
                </div>
            </a>
                <p class="middle_text">Ventajas de ser un tibio</p>
            </div>

            <div class="post_img">
                <img src="img/anime cute wallpaper backgrounds.jpeg" alt="">
            </div>
        </div>

        <div class="post_interactions_container flex justify-between">
            <div class="interactions flex intems-center gap-4">

                <div  class="like_interaction icon flex items-center gap-1" >
                    <img src="Icons/Red-Heart/red-heart-50.png" alt="">

                    <p>35</p>
                </div>

                <div class="comment_interaction icon flex items-center gap-1">
                    <img src="Icons/comment-48.png" alt="">
                    <p>12</p>
                </div>

            </div>

            <div class="save_button" >
                <img src="Icons/more-96.png" alt="">
            </div>
        </div>
    </div>
</div>


<style>
    



    .small_picture{
        width: 30px;
        border-radius: 50px;
    }

    .middle_text{
        font-size: 20px;
        font-weight: 500;
        
    }

    .user_name{
        font-weight: 300;
    }

    .post_img img{
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 10px;
    }

    .post_main_container{
        border-top: 1px solid #D6D6D6;
        border-bottom: 1px solid #D6D6D6;
        font-family: 'Poppins';
        max-width: 500px;
    }

    .post_container{
        margin: 20px;
    }

    .icon img{
        width: 18px;
    }

    .icon p{
        font-size: 14px;
        margin: 0;
        line-height: 0;
    }

    .save_button{
        width: 30px;
    }
</style>